html, body {
    height: 100%;
    font-size: medium;
}
body {
    font-family: "Arial", "Helvetica", "Verdana", "sans-serif";
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI" "sans-serif";
}
.navigation {
    background-image: linear-gradient(to right, #247cff, #ffffff);
    border: solid;
    border-color: #247cff;
    background-size: 100% 100%;
    margin: 0.5%;
}
#createAcctCard {
    margin-top: 9rem;
}
.imgAvatarW10 {
    max-width: 10%;
    height: auto;
}

.imgAvatarW8 {
    max-width: 8%;
    height: auto;
}

.mainContent {
    width: 98%;
    margin: 1rem;
    margin-top: 9rem;
}


